EXPO_PUBLIC_API_URL=http://192.168.138.92:3001

UPLOAD_API_HOST=0.0.0.0
UPLOAD_API_PORT=3001

MINIO_ENDPOINT=192.168.138.92
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=replace-with-your-access-key
MINIO_SECRET_KEY=replace-with-your-secret-key
MINIO_BUCKET=attendance-attachments
